.carousel-item {
  display: flex;
  justify-content: center; /* Центрирование видео по горизонтали */
  align-items: center; /* Центрирование видео по вертикали */
  height: 100%; /* Установка высоты контейнера */
  position: relative; /* Для позиционирования элементов внутри контейнера */
}

.video-container {
  position: relative;
  width: 50%; /* Устанавливаем ширину видео в 50% от ширины родительского контейнера */
  max-width: 600px; /* Максимальная ширина видео */
  margin: 0 auto; /* Центрирование видео */
}

.video-container video {
  width: 100%; /* Видео занимает всю ширину своего контейнера */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute; /* Абсолютное позиционирование для размещения стрелок внутри видео */
  top: 50%; /* Центрирование стрелок по вертикали относительно контейнера */
  transform: translateY(-50%); /* Смещение стрелок вверх на 50% их высоты */
  width: 40px; /* Ширина стрелок */
  height: 40px; /* Высота стрелок */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Полупрозрачный фон для лучшей видимости */
  border-radius: 50%; /* Закругление кнопок */
  z-index: 2; /* Видимость стрелок над видео */
}

.carousel-control-prev {
  left: 5%; /* Расположение стрелки "Назад" внутри видео (отступ от левого края) */
}

.carousel-control-next {
  right: 5%; /* Расположение стрелки "Вперед" внутри видео (отступ от правого края) */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px; /* Размер иконок стрелок */
  height: 20px;
}
